<h1>
Python
</h1>
<h3>Variables</h3>

In [3]:
a=10

<h3>Operator</h3>

Math Operator
<pre>
+
-
/
//
*
**
%

</pre>

In [55]:
a = int(input('enter number for a'))
b = int(input('enter number for b'))
print(f'a={a}\nb={b}')
print(f"a+b={a+b}")
print(f"a-b={a-b}")
print(f"a/b={a/b:.3f}")
print(f"a//b={a//b}")
print(f"a*b={a*b}")
print(f"a**b={a**b}")
print(f"a%b={a%b}")

ValueError: invalid literal for int() with base 10: ''

In [29]:
print('%.3f'%12)
print('%d'%12.5)
print('%s'%'hello')
print('%E'%3143413)

12.000
12
hello
3.143413E+06

In [51]:
0xAB

171

In [48]:
0o12

10

In [50]:
0b100

4

In [62]:
a=9
b=10

In [63]:
print(f'a={a}\nb={b}')
print(f"a>b={a>b}")
print(f"a<b={a<b}")
print(f"a>=b={a>=b}")
print(f"a<=b={a<=b}")
print(f"a!=b={a!=b}")
print(f"a==b={a==b}")

a=9
b=10
a>b=False
a<b=True
a>=b=False
a<=b=True
a!=b=True
a==b=False

In [65]:
if a<b:
   print('a is less then b')
else:
   print('a is greater then b')
print('end')

a is less then b
end

In [66]:
a=20
b=10

In [ ]:
if a<b:
   print('a is less then b')
elif a==b:
   print('a is equal to b')
else:
   print('a is greater then b')

In [71]:
print('you entered',int(input('enter value')))

you entered 56

In [75]:
num=int(input('Enter value to check '))
if num<0:
    print(num,'is negative number')
else:
    print('now i am in else block')
    if num==0:
        print(num,'is zero')
    else:
        print(num,'is positive number')

now i am in else block
0 is zero

In [84]:
0%2

0

In [85]:
print(12%2)    #even result is 0
print(13%2)    # odd result is 1

0
1

In [90]:
num = int(input('enter num to check odd or even'))
if num==0 or num ==1:
    print('this not a odd nor even')
else:
    if num%2==0:
        print('this is even')
    else:
        print('this is odd')

this not a odd nor even

<h3>False values</h3>
<pre>
''   # Empty String
0     # Zero
None  # None
[] or {} or ()  #Empty non primitive Data Type

In [18]:
if '' or 0 or [] or {} or () or None:
    print('hello')
else:
    print('world')
print('this')

world
this

In [28]:
if  1<1 or 2<2 or 1>1 or 0<1 :
    print('hello')
else:
    print('world')
print('this')

hello
this

In [34]:
x=1
y=1
if(x!=0 or x!=1 or y!=0 or y!=1):
    print("Invalid input")

Invalid input

In [ ]:
[1,2,3,4]

In [36]:
0.10000000000000 + 0.200000000000000000

0.30000000000000004

In [ ]:
year = int(input('enter Year'))
if year%400:
    print('leap year')
else:
    if year%4==0:
        if year%100!=0:
            print('leap Year')
        else:
            print('not a leap year')
    else:
        print('not a leap year')

In [ ]:
year = int(input('enter Year'))
if (year%400==0) or (year%4==0 and year%100!=0):
    print('leap year')       
else:
    print('not a leap year')

In [38]:
year = int(input('enter Year'))

if (year%400==0) or (year%4==0 and year%100!=0):
    result ='leap year'  
else:
    result ='not a leap year'
print(result)

not a leap year

In [39]:
result

'not a leap year'

In [ ]:
ticket_cost = 100
ticket_cost = 10
cls = 1
cls = 2

In [44]:
cls =int(input())
if cls == 1:
    ticket_cost=100
else:
    ticket_cost=10

In [45]:
cls =int(input())

ticket_cost = 100  if cls==1 else 10

10

In [ ]:
result ='leap year' if (year%400==0) or (year%4==0 and year%100!=0) else 'not a leap year'

<h2>
LOOP (iterative Statements)
</h2>
<pre>
posible iteration count of any loop can be 

0
n
infi


while  loop example with countdown from 10 to 1
num=10
while(num>0):
	print(num)
	num = num-1


we can control loop with these three steps
assignment            #num=10
condition             # while (num>0)
state change or inrement/decrement          # num=num-1

</pre>

In [6]:
num=10
while num>9:
    print(num)
    num-=1
else:
    print("Loop finished")
print('Loop')

10
Loop finished
Loop

<h3>
Range
</h3>

<pre>
(
    start,
    stop,   # excluded
    step    #distance
)
(
    start,  # assignment
    stop,   # condition
    step    # state change or incre/decre
)

</pre>

<class 'range'>

In [13]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [17]:
num=2
while num<11:
    print(num)
    num+=2

2
4
6
8
10

In [19]:
msg=''
while msg!='exit':
    msg=input('Enter your message: ')
    print(msg)

vwr
hi
hello
this is
while
loop
hello world
this
exit

In [20]:
msg=input('enter your first msg: ')
input_msg=msg
while msg!='exit':
    msg = input((f'your last msg was {input_msg} what next: '))
    input_msg = input_msg + ' '+  msg

In [ ]:
msg=input('enter your first msg: ')                                        #assignment
while msg!='exit':                                                         #condition
    msg = input((f'your last msg was {msg} what next: '))                  #state change
    msg = msg + ' '+  msg

In [5]:
for i in range(5):#range(0,5,1)
    print(i)

0
1
2
3
4

<h2>Indexing</h2>

<pre>
H E L L O   W O R L D
0 1 2 3 4 5 6 7 8 9 10           INDEX STARTS WITH 0
1 2 3 4 5 6 7 8 9 10 11          LENGTH START WITH 1
</pre>

In [11]:
print(len('HELLO WORLD'))
'HELLO WORLD'.index('D')

11

10

<h2>Iterator</h2>
<p>The variable which will hold one value or element of iterable at a time while iterating(traversing)</p>
<b>example   i,j,k any variable</b>
<h3>Iterable</h3>
<p>Iterable is the Main Object Which holds multiple element in a sequence so iterator can iterate</p>
<b>example   String, list, Tuple, </b>

In [13]:
for i in 'hello world':
    print(i,end='')

hello world

In [17]:
a=['hp','rm','sk','pj','pi','su']
for i in a:
    print('hi '+i+ ' how are you')

hi hp how are you
hi rm how are you
hi sk how are you
hi pj how are you
hi pi how are you
hi su how are you

In [43]:
i =iter('helloworld')

In [41]:
next(i)

'd'

In [44]:
for i in 10:
    print(i)

TypeError: 'int' object is not iterable

In [53]:
a='0123456789'
a[4]

'4'

In [60]:
a='hello world'
for i in range(5):
    print(a[i],end ='')

hello

In [62]:
print(a[0:5]  )             #slice

hello

In [65]:
print('0')

0

In [68]:
b='Python is awesome'
for i,v in enumerate(b):
    print(i,v)

0 P
1 y
2 t
3 h
4 o
5 n
6
7 i
8 s
9
10 a
11 w
12 e
13 s
14 o
15 m
16 e

In [73]:
for i in range(10,17):
    print(b[i],end='')

awesome

In [74]:
b

'Python is awesome'

In [81]:
b[10]+b[11]+b[12]+b[13]+b[14]+b[15]+b[16]
for i in range(10,17):
    print(b[i],end=' ')

a w e s o m e

In [71]:
for i,v in enumerate(b):
    if i in range(10,13):
        continue
    else:
        print(v,end='')

Python is some