<h1>
Python
</h1>
<h3>Variables</h3>

In [3]:
a=10

<h3>Operator</h3>

Math Operator
<pre>
+
-
/
//
*
**
%

</pre>

In [55]:
a = int(input('enter number for a'))
b = int(input('enter number for b'))
print(f'a={a}\nb={b}')
print(f"a+b={a+b}")
print(f"a-b={a-b}")
print(f"a/b={a/b:.3f}")
print(f"a//b={a//b}")
print(f"a*b={a*b}")
print(f"a**b={a**b}")
print(f"a%b={a%b}")

ValueError: invalid literal for int() with base 10: ''

In [29]:
print('%.3f'%12)
print('%d'%12.5)
print('%s'%'hello')
print('%E'%3143413)

12.000
12
hello
3.143413E+06

In [51]:
0xAB

171

In [48]:
0o12

10

In [50]:
0b100

4

In [62]:
a=9
b=10

In [63]:
print(f'a={a}\nb={b}')
print(f"a>b={a>b}")
print(f"a<b={a<b}")
print(f"a>=b={a>=b}")
print(f"a<=b={a<=b}")
print(f"a!=b={a!=b}")
print(f"a==b={a==b}")

a=9
b=10
a>b=False
a<b=True
a>=b=False
a<=b=True
a!=b=True
a==b=False

In [65]:
if a<b:
   print('a is less then b')
else:
   print('a is greater then b')
print('end')

a is less then b
end

In [66]:
a=20
b=10

In [ ]:
if a<b:
   print('a is less then b')
elif a==b:
   print('a is equal to b')
else:
   print('a is greater then b')

In [71]:
print('you entered',int(input('enter value')))

you entered 56

In [75]:
num=int(input('Enter value to check '))
if num<0:
    print(num,'is negative number')
else:
    print('now i am in else block')
    if num==0:
        print(num,'is zero')
    else:
        print(num,'is positive number')

now i am in else block
0 is zero

In [84]:
0%2

0

In [85]:
print(12%2)    #even result is 0
print(13%2)    # odd result is 1

0
1

In [90]:
num = int(input('enter num to check odd or even'))
if num==0 or num ==1:
    print('this not a odd nor even')
else:
    if num%2==0:
        print('this is even')
    else:
        print('this is odd')

this not a odd nor even

<h3>False values</h3>
<pre>
''   # Empty String
0     # Zero
None  # None
[] or {} or ()  #Empty non primitive Data Type

In [18]:
if '' or 0 or [] or {} or () or None:
    print('hello')
else:
    print('world')
print('this')

world
this

In [28]:
if  1<1 or 2<2 or 1>1 or 0<1 :
    print('hello')
else:
    print('world')
print('this')

hello
this

In [34]:
x=1
y=1
if(x!=0 or x!=1 or y!=0 or y!=1):
    print("Invalid input")

Invalid input

In [ ]:
[1,2,3,4]

In [36]:
0.10000000000000 + 0.200000000000000000

0.30000000000000004

In [ ]:
year = int(input('enter Year'))
if year%400:
    print('leap year')
else:
    if year%4==0:
        if year%100!=0:
            print('leap Year')
        else:
            print('not a leap year')
    else:
        print('not a leap year')

In [ ]:
year = int(input('enter Year'))
if (year%400==0) or (year%4==0 and year%100!=0):
    print('leap year')       
else:
    print('not a leap year')

In [38]:
year = int(input('enter Year'))

if (year%400==0) or (year%4==0 and year%100!=0):
    result ='leap year'  
else:
    result ='not a leap year'
print(result)

not a leap year

In [39]:
result

'not a leap year'

In [ ]:
ticket_cost = 100
ticket_cost = 10
cls = 1
cls = 2

In [44]:
cls =int(input())
if cls == 1:
    ticket_cost=100
else:
    ticket_cost=10

In [45]:
cls =int(input())

ticket_cost = 100  if cls==1 else 10

10

In [ ]:
result ='leap year' if (year%400==0) or (year%4==0 and year%100!=0) else 'not a leap year'

<h2>
LOOP (iterative Statements)
</h2>
<pre>
posible iteration count of any loop can be 

0
n
infi


while  loop example with countdown from 10 to 1
num=10
while(num>0):
	print(num)
	num = num-1


we can control loop with these three steps
assignment            #num=10
condition             # while (num>0)
state change or inrement/decrement          # num=num-1

</pre>

In [6]:
num=10
while num>9:
    print(num)
    num-=1
else:
    print("Loop finished")
print('Loop')

10
Loop finished
Loop

<h3>
Range
</h3>

<pre>
(
    start,
    stop,   # excluded
    step    #distance
)
(
    start,  # assignment
    stop,   # condition
    step    # state change or incre/decre
)

</pre>

<class 'range'>

In [13]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [17]:
num=2
while num<11:
    print(num)
    num+=2

2
4
6
8
10

In [19]:
msg=''
while msg!='exit':
    msg=input('Enter your message: ')
    print(msg)

vwr
hi
hello
this is
while
loop
hello world
this
exit

In [20]:
msg=input('enter your first msg: ')
input_msg=msg
while msg!='exit':
    msg = input((f'your last msg was {input_msg} what next: '))
    input_msg = input_msg + ' '+  msg

In [ ]:
msg=input('enter your first msg: ')                                        #assignment
while msg!='exit':                                                         #condition
    msg = input((f'your last msg was {msg} what next: '))                  #state change
    msg = msg + ' '+  msg

In [5]:
for i in range(5):#range(0,5,1)
    print(i)

0
1
2
3
4

<h2>Indexing</h2>

<pre>
H E L L O   W O R L D
0 1 2 3 4 5 6 7 8 9 10           INDEX STARTS WITH 0
1 2 3 4 5 6 7 8 9 10 11          LENGTH START WITH 1
</pre>

In [11]:
print(len('HELLO WORLD'))
'HELLO WORLD'.index('D')

11

10

<h2>Iterator</h2>
<p>The variable which will hold one value or element of iterable at a time while iterating(traversing)</p>
<b>example   i,j,k any variable</b>
<h3>Iterable</h3>
<p>Iterable is the Main Object Which holds multiple element in a sequence so iterator can iterate</p>
<b>example   String, list, Tuple, </b>

In [13]:
for i in 'hello world':
    print(i,end='')

hello world

In [17]:
a=['hp','rm','sk','pj','pi','su']
for i in a:
    print('hi '+i+ ' how are you')

hi hp how are you
hi rm how are you
hi sk how are you
hi pj how are you
hi pi how are you
hi su how are you

In [43]:
i =iter('helloworld')

In [41]:
next(i)

'd'

In [44]:
for i in 10:
    print(i)

TypeError: 'int' object is not iterable

In [53]:
a='0123456789'
a[4]

'4'

In [60]:
a='hello world'
for i in range(5):
    print(a[i],end ='')

hello

In [62]:
print(a[0:5]  )             #slice

hello

In [65]:
print('0')

0

In [68]:
b='Python is awesome'
for i,v in enumerate(b):
    print(i,v)

0 P
1 y
2 t
3 h
4 o
5 n
6
7 i
8 s
9
10 a
11 w
12 e
13 s
14 o
15 m
16 e

In [73]:
for i in range(10,17):
    print(b[i],end='')

awesome

In [74]:
b

'Python is awesome'

In [81]:
b[10]+b[11]+b[12]+b[13]+b[14]+b[15]+b[16]
for i in range(10,17):
    print(b[i],end=' ')

a w e s o m e

In [71]:
for i,v in enumerate(b):
    if i in range(10,13):
        continue
    else:
        print(v,end='')

Python is some

In [11]:
for i in range(1,11,1):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
msg=input('enter your first msg: ')
while msg[-4:]!='exit':
   msg = msg + ' '+ input((f'your last msg was {msg} what next: '))




msg=input('enter your first msg: ')    #hi
while True:
    if msg[-4:]=='exit':           
        break
    msg = msg + ' '+ input((f'your last msg was {msg} what next: '))
            

msg=input('MySQL[DBname]> ')    #hi
while True:
    if msg[-1:]==';':           
        break
    msg = msg + ' '+ input((f'->'))

In [12]:
i=0
while True:
    if i==10:
        break
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [22]:
i=41
while True:
    i=i+10
    if i >101:
        break
    elif i==91:
        print('skip 91')
        continue
    print(i)

51
61
71
81
skip 91
101

skip 35
42
skip 49
56
skip 63
70 
skip 77
84

In [23]:
i=28
while True:        #28
    i=i+7          #35      #42
    if i>84:       #False   #False
        break
    elif i%2==1:   #True     #False
        print('skip',i)
        continue
    print(i)

skip 35
42
skip 49
56
skip 63
70
skip 77
84

In [ ]:
start with 151
reach to 41
step -9
even          skip even num
odd
for and while both

In [24]:
for i in range(151,1,-9):
    if i<41:    
        break
    elif i%2==0:
        print('skip even ',i)
        continue
    print(i)

151
skip even  142
133
skip even  124
115
skip even  106
97
skip even  88
79
skip even  70
61
skip even  52
43

In [3]:
while(i):
    pass
print('hello')

KeyboardInterrupt:

In [2]:
for i in range(10):
    pass
print('hello')

hello

In [23]:
person = ['ramesh','suresh','rakesh','rahul','piush','kartik','ganesh','krishna','subham','rohan']
dish=['malai kofta','lolipop','noodles','rice','batata baji']
lolipop = ['veg','gravy','chicken','dry','korien']

In [21]:
for p in person:
    print(f'person {p} tooked :')
    for d in dish:
        print(f'{d}')
    print()

person ramesh tooked :
malai kofta
lolipop
noodles
rice
batata baji

person suresh tooked :
malai kofta
lolipop
noodles
rice
batata baji

person rakesh tooked :
malai kofta
lolipop
noodles
rice
batata baji

person rahul tooked :
malai kofta
lolipop
noodles
rice
batata baji

person piush tooked :
malai kofta
lolipop
noodles
rice
batata baji

person kartik tooked :
malai kofta
lolipop
noodles
rice
batata baji

person ganesh tooked :
malai kofta
lolipop
noodles
rice
batata baji

person krishna tooked :
malai kofta
lolipop
noodles
rice
batata baji

person subham tooked :
malai kofta
lolipop
noodles
rice
batata baji

person rohan tooked :
malai kofta
lolipop
noodles
rice
batata baji

In [16]:
count =0
for outer_loop in range(1,3):            #1           2
    for inner_loop in range(1,3):        #1,2,3,4,5   1,2,3,4,5
        print(f'outer_loop={outer_loop}     inner_loop={inner_loop}\n')

outer_loop=1     inner_loop=1

outer_loop=1     inner_loop=2

outer_loop=2     inner_loop=1

outer_loop=2     inner_loop=2

In [27]:
count = 0
for p in person:
    print(f'person {p} tooked :')
    for d in dish:
        print(f'{d}')
        if d=='lolipop':
            for l in lolipop:
                print(f'{l,d}')
    print()

person ramesh tooked :
malai kofta
lolipop
('veg', 'lolipop')
('gravy', 'lolipop')
('chicken', 'lolipop')
('dry', 'lolipop')
('korien', 'lolipop')
noodles
rice
batata baji

person suresh tooked :
malai kofta
lolipop
('veg', 'lolipop')
('gravy', 'lolipop')
('chicken', 'lolipop')
('dry', 'lolipop')
('korien', 'lolipop')
noodles
rice
batata baji

person rakesh tooked :
malai kofta
lolipop
('veg', 'lolipop')
('gravy', 'lolipop')
('chicken', 'lolipop')
('dry', 'lolipop')
('korien', 'lolipop')
noodles
rice
batata baji

person rahul tooked :
malai kofta
lolipop
('veg', 'lolipop')
('gravy', 'lolipop')
('chicken', 'lolipop')
('dry', 'lolipop')
('korien', 'lolipop')
noodles
rice
batata baji

person piush tooked :
malai kofta
lolipop
('veg', 'lolipop')
('gravy', 'lolipop')
('chicken', 'lolipop')
('dry', 'lolipop')
('korien', 'lolipop')
noodles
rice
batata baji

person kartik tooked :
malai kofta
lolipop
('veg', 'lolipop')
('gravy', 'lolipop')
('chicken', 'lolipop')
('dry', 'lolipop')
('korien', 'lolipop')
noodles
rice
batata baji

person ganesh tooked :
malai kofta
lolipop
('veg', 'lolipop')
('gravy', 'lolipop')
('chicken', 'lolipop')
('dry', 'lolipop')
('korien', 'lolipop')
noodles
rice
batata baji

person krishna tooked :
malai kofta
lolipop
('veg', 'lolipop')
('gravy', 'lolipop')
('chicken', 'lolipop')
('dry', 'lolipop')
('korien', 'lolipop')
noodles
rice
batata baji

person subham tooked :
malai kofta
lolipop
('veg', 'lolipop')
('gravy', 'lolipop')
('chicken', 'lolipop')
('dry', 'lolipop')
('korien', 'lolipop')
noodles
rice
batata baji

person rohan tooked :
malai kofta
lolipop
('veg', 'lolipop')
('gravy', 'lolipop')
('chicken', 'lolipop')
('dry', 'lolipop')
('korien', 'lolipop')
noodles
rice
batata baji

[(1,1) (1,2)
 (2,1)  (2,2)]

In [52]:

for row in range(1,4):
    for col in range(1,4):
        if row==col==2:
            print("MID", end="      ")
        else:
            print(f'{row, col}',end='     ')
    print()

(1, 1)     (1, 2)     (1, 3)
(2, 1)
(3, 1)     (3, 2)     (3, 3)

In [46]:
suit = ('#','<>','@','&')
rank = ('A','2','3','4','5','6','7','8','9','10','Jack','Queen','King')

In [54]:
for s in suit:
    for r in rank:
        print(f"{s}{r}" ,end='  ')
    print()

#A  #2  #3  #4  #5  #6  #7  #8  #9  #10  #Jack  #Queen  #King
<>A  <>2  <>3  <>4  <>5  <>6  <>7  <>8  <>9  <>10  <>Jack  <>Queen  <>King
@A  @2  @3  @4  @5  @6  @7  @8  @9  @10  @Jack  @Queen  @King
&A  &2  &3  &4  &5  &6  &7  &8  &9  &10  &Jack  &Queen  &King

In [ ]:
st1002_name='rakesh'
st1002_age=23
st1002_salary=24433

In [ ]:
d = {'st1002':{'name':'Ramesh','age':23,'salary':24433},
     'st1003':{'name':'Ramesh','age':23,'salary':24433},
     'st1004':{'name':'Ramesh','age':23,'salary':24433},
     'st1005':{'name':'Ramesh','age':23,'salary':24433},
     'st1006':{'name':'Ramesh','age':23,'salary':24433},
     }

<h2>Non Primitive Data Types</h2>
Non-primitive Data Structures – These data structures store values, as well as a collection of values, in varying formats. The four built-in non-primitive data structures are lists, tuples, dictionaries, and sets.

In [26]:
len(st)

11

In [34]:
st = 'Hello'
   #  01234        index
   #  12345       len
for i in range(0,5):
    print(st[i],i)  # prints each character of the string

for i in range(len(st)-1,-1,-1):     #  range(4,-1,-1)      o/p        4 3 2 1 0 
    print(st[i],i,end=' ',sep='')

H 0
e 1
l 2
l 3
o 4
o4 l3 l2 e1 H0

<h2>Slice</h2>
Slicing is the extraction of a part of a string, list, or tuple. It enables users to access the specific range of elements by mentioning their indices. Syntax: Object [start:stop:step] “Start” specifies the starting index of a slice. “Stop”

In [17]:
s = 'Python is great' 
st='Hello'

In [16]:
print(st[0:5])
print(s[0:6])
print(s[-5:])
print(s[::-1])
print('hsetiH'[::-1])

Hello
Python
great
taerg si nohtyP
Hitesh

In [6]:
st[0]+ st[1]+ st[2]+ st[3]+ st[4]

'Hello'

In [38]:
s.casefold() == 'python is great'

True

In [59]:
print(s.center(30,"-"))

-------Python is great--------

In [54]:
txt = "banana"
x = txt.center(20, "O")
print(x)

OOOOOOObananaOOOOOOO

In [60]:
len(s)

15

In [72]:
print('hello'.capitalize())
print('hello'.upper())
print('hello'.lower())
print('hElLo'.casefold())
print('hello world'.count('l'))                                #
print('hello'.endswith('o'))

Hello
HELLO
hello
hello
3
True

In [143]:
print('hello\tworld'.expandtabs(30))
print('hello'.find('w'))                                          #
print('hello {}'.format(s))                                         #
print('hello'.index('l'))                                          #
print('hello'.join('123'))
print('hello'.ljust(13,'-'))
print('helloooooooooo'.lstrip('h').rstrip('o'))                    #
print('hello'.rpartition('e'))
print('hello world world'.replace('world','universe'))              #
print('hello world'.split('l'))                                     #

hello                         world
-1
hello Python is great
2
1hello2hello3
hello--------
ell
('h', 'e', 'llo')
hello universe universe
['he', '', 'o wor', 'd']

In [133]:
#without method chaining
a='helloooooo'
a=a.rstrip('o')
a=a.rstrip('l')
print(a)
#with Method Chaining
a='helloooooo'
a=a.rstrip('o').rstrip('l')
print(a)

he
he

In [150]:
g = [3,5,1,6,2,7,4,8,9]
print(sorted(g))                    #function
print(g)
print(g.sort())                     #method for list
print(g)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 5, 1, 6, 2, 7, 4, 8, 9]
None
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [163]:
a=[1,2]
b=a.copy()

In [164]:
print(a)
print(b)

[1, 2]
[1, 2]

In [165]:
b.append(3)

In [166]:
print(a)
print(b)

[1, 2]
[1, 2, 3]

In [169]:
id(b) == id(a)

False

In [6]:
print('hello'*2)

hellohello

In [ ]:
""" 
hi

"""

<h2>list :</h2>
1.sequence datatype    :-  indexing (slice) 
2.Mutable
datatype :-  indexing (slice) ,insertion ,deletion ,update
3.Multiple datatype        :- any value of different datatype can be stored 
4.itrable                  :- can iterate with loop
5.unhashable               :- 


<h2>Tuple</h2>
1.immutable
2.same as List
3.hashable

<h3>List Methods</h3>
1. append     insert element at the end
2. pop        removes element from end if we don't provide index, otherwise removes element from specific index
3. insert     insert a value to spefic index
4. remove
5. sort

In [55]:
a=[1,2]
b=a.copy()
b.append(3)
b.append('xyz')
print(b)
a

[1, 2, 3, 'xyz']

[1, 2]

In [89]:
f = [1,2,3]
print(f[0])  # prints 1
print(f[::-1])
f.append(4)
f.append(5)
print(f)
f.insert(0,0)
print(f)
f.insert(0,-2)
f.insert(1,-1)
f.insert(4,1.5)
f.insert(3,0.5)
f.insert(2,-0.5)

# f.clear()
# print(f)
f.count(-0.5)
f.append([6,7,8])
print(f[11])
f.extend((9,10,11))
f.index(1.5)
f.append(1)
f
f.remove(1)
# print(list(reversed(f)))
f.reverse()
f

1
[3, 2, 1]
[1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[6, 7, 8]

[1, 11, 10, 9, [6, 7, 8], 5, 4, 3, 2, 1.5, 0.5, 0, -0.5, -1, -2]

In [92]:
s=[]
for i in range(8):
    s.append(int(input('Enter number')))

In [95]:
s.sort()
s.insert(4,7)

[0, 1, 2, 3, 7, 3, 4, 5, 7]

In [111]:
s=[0, 1, 2, 3, 7, 3, 4, 5, 7]

In [114]:
for i in range(3):
    s.pop()

In [115]:
s

[3, 7, 3]

In [24]:
hash('asdvafvnvnefnvnenv435634756925659653489575095734895723049753049570937530895708975834750234750923eionvioorvierniovioenrioniovnfetiooenfeiovneiov')

-1680211210408051462

In [25]:
len('1680211210408051462')

19

In [1]:
g=[1,2,'hello',[1,2,[2,4]]]
g[1]=3
g.append(4)
g

[1, 3, 'hello', [1, 2, [2, 4]], 4]

In [19]:
g.insert(1,'hello')

In [20]:
g

[1, 'hello', 'hello', [1, 2, [2, 4]], 4, 'hello world']

In [34]:
m=[]
for i in range(0,3):
    m.append([])
    for j in range(0,3):
        m[i].append([])
        for k in range(0,3):
            m[i][j].append((i,j,k))

In [35]:
m[0][0][0]='The'
m[1][1][1]='Great'
m[2][2][2]='Python'

In [36]:
m

[[['The', (0, 0, 1), (0, 0, 2)],
  [(0, 1, 0), (0, 1, 1), (0, 1, 2)],
  [(0, 2, 0), (0, 2, 1), (0, 2, 2)]],
 [[(1, 0, 0), (1, 0, 1), (1, 0, 2)],
  [(1, 1, 0), 'Great', (1, 1, 2)],
  [(1, 2, 0), (1, 2, 1), (1, 2, 2)]],
 [[(2, 0, 0), (2, 0, 1), (2, 0, 2)],
  [(2, 1, 0), (2, 1, 1), (2, 1, 2)],
  [(2, 2, 0), (2, 2, 1), 'Python']]]

<pre>

[[1, 1, 1], [1, 1, 2], [1, 1, 3],
[1, 2, 1], [1, 2, 2], [1, 2, 3],
[1, 3, 1], [1, 3, 2], [1, 3, 3], 
[2, 1, 1], [2, 1, 2], [2, 1, 3],
[2, 2, 1], [2, 2, 2], [2, 2, 3], 
[2, 3, 1], [2, 3, 2], [2, 3, 3], 
[3, 1, 1], [3, 1, 2], [3, 1, 3], 
[3, 2, 1], [3, 2, 2], [3, 2, 3], 
[3, 3, 1], [3, 3, 2], [3, 3, 3]]

[[1, 1, 1], [1, 1, 2], [1, 1, 3], 
[1, 2, 1], [1, 2, 2], [1, 2, 3], 
[1, 3, 1], [1, 3, 2], [1, 3, 3], 
[2, 1, 1], [2, 1, 2], [2, 1, 3], 
[2, 2, 1], ['mid'], [2, 2, 3], 
[2, 3, 1], [2, 3, 2], [2, 3, 3], 
[3, 1, 1], [3, 1, 2], [3, 1, 3], 
[3, 2, 1], [3, 2, 2], [3, 2, 3], 
[3, 3, 1], [3, 3, 2], [3, 3, 3]]



[(1, 1, 1), (1, 1, 2), (1, 1, 3), 
(1, 2, 1), (1, 2, 2), (1, 2, 3), 
(1, 3, 1), (1, 3, 2), (1, 3, 3), 
(2, 1, 1), (2, 1, 2), (2, 1, 3), 
(2, 2, 1), (2, 2, 2), (2, 2, 3), 
(2, 3, 1), (2, 3, 2), (2, 3, 3), 
(3, 1, 1), (3, 1, 2), (3, 1, 3), 
(3, 2, 1), (3, 2, 2), (3, 2, 3), 
(3, 3, 1), (3, 3, 2), (3, 3, 3)]


[[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)], 
[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)], 
[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]]


[[[1, 2, 3], [1, 2, 3], [1, 2, 3]],
 [[1, 2, 3], [1, 2, 3], [1, 2, 3]], 
 [[1, 2, 3], [1, 2, 3], [1, 2, 3]]]


 [
    [
        [(1, 1, 1), (1, 1, 2), (1, 1, 3)],
        [(1, 2, 1), (1, 2, 2), (1, 2, 3)],
        [(1, 3, 1), (1, 3, 2), (1, 3, 3)]
                                            ], 

    [
        [(2, 1, 1), (2, 1, 2), (2, 1, 3)],
        [(2, 2, 1), (2, 2, 2), (2, 2, 3)], 
        [(2, 3, 1), (2, 3, 2), (2, 3, 3)]
                                            ], 
    
    [
        [(3, 1, 1), (3, 1, 2), (3, 1, 3)], 
        [(3, 2, 1), (3, 2, 2), (3, 2, 3)], 
        [(3, 3, 1), (3, 3, 2), (3, 3, 3)]
                                            ]
                                                    ]







 [
    
    [
        [(0, 0, 0), (0, 0, 1), (0, 0, 2)], 
        [(0, 1, 0), (0, 1, 1), (0, 1, 2)], 
        [(0, 2, 0), (0, 2, 1), (0, 2, 2)]
                                            ],                                          
    
    [
        [(1, 0, 0), (1, 0, 1), (1, 0, 2)], 
        [(1, 1, 0), (1, 1, 1), (1, 1, 2)], 
        [(1, 2, 0), (1, 2, 1), (1, 2, 2)]
                                            ], 
    
    [
        [(2, 0, 0), (2, 0, 1), (2, 0, 2)], 
        [(2, 1, 0), (2, 1, 1), (2, 1, 2)], 
        [(2, 2, 0), (2, 2, 1), (2, 2, 2)]
                                            ]

                                                ]
                                                </pre>

In [29]:
m[1][1][1]='Python'

In [77]:
m

[[['The', (0, 0, 1), (0, 0, 2)],
  [(0, 1, 0), (0, 1, 1), (0, 1, 2)],
  [(0, 2, 0), (0, 2, 1), (0, 2, 2)]],
 [[(1, 0, 0), (1, 0, 1), (1, 0, 2)],
  [(1, 1, 0), 'Great', (1, 1, 2)],
  [(1, 2, 0), (1, 2, 1), (1, 2, 2)]],
 [[(2, 0, 0), (2, 0, 1), (2, 0, 2)],
  [(2, 1, 0), (2, 1, 1), (2, 1, 2)],
  [(2, 2, 0), (2, 2, 1), 'Python']]]

In [3]:
m[13].clear()
m[13].append("mid")

AttributeError: 'tuple' object has no attribute 'clear'

[[1, 1], [1, 2], [1, 3],
 [2, 1], [2, 2], [2, 3],
 [3, 1], [3, 2], [3, 3]]

In [13]:
m[7].append(4)

In [14]:
m

[[1, 1], [1, 2], [1, 3], [2, 1], [2, 2], [2, 3], [3, 1], [3, 2, 4], [3, 3]]

<h2>Tuple</h2>
<p>A tuple is a collection of values that can be of any data type, including strings, integers
and floats. Tuples are defined by enclosing the values in parentheses, separated by commas.</p>

In [54]:
d = tuple()
t=()
e=(1.2,)

In [55]:
type(e)

tuple

In [57]:
e.index(1.2)

0

In [68]:
r= ([1,2,3],[12])

In [69]:
r[1].append('python')

In [73]:
r[1].clear()

In [83]:
r=(m,m)

In [81]:
r[0][0][1][2]

(0, 1, 2)

<h2>Set</h2>
<p>Set is a collection of unique elements. It is an unordered collection of elements, which means that the order of the elements does not matter.
set support only hashable data as a element.
it create set with {}
</p>

In [133]:
d={6}
d=set()

In [173]:
q={'jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'}

In [121]:
for i,v in enumerate(q):
    print(i,v)

0 mar
1 jun
2 dec
3 jan
4 aug
5 nov
6 jul
7 may
8 sep
9 feb
10 oct
11 apr

In [106]:
'jan' in q

True

In [140]:
s = {'dec','mar','may'}

In [125]:
s.issubset(q)

False

In [135]:
s={}

In [136]:
w='hello world'
for i in w:
    if i in s:
        s[i]=s[i]+1
    else:
        s[i]=1

In [137]:
s

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

{' ', 'd', 'e', 'h', 'l', 'o', 'r', 'w'}

In [141]:
q.issuperset(s)

True

In [149]:
s.add('apr')

NameError: name 's' is not defined

In [188]:
o = {'jan','dec','apr','hello','hi'}

In [176]:
q.difference(o)

{'aug', 'feb', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep'}

In [166]:
q

{'apr',
 'aug',
 'dec',
 'feb',
 'jan',
 'jul',
 'jun',
 'mar',
 'may',
 'nov',
 'oct',
 'sep'}

In [167]:
q.difference_update(o)

In [168]:
q

{'aug', 'feb', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep'}

In [170]:
q.discard('jun')

In [177]:
q.intersection(o)

{'apr', 'dec', 'jan'}

In [192]:
o.add(3)

In [185]:
q.remove('jan')

In [196]:
q.symmetric_difference(o)

{1,
 2,
 3,
 'aug',
 'feb',
 'hello',
 'hi',
 'jan',
 'jul',
 'jun',
 'mar',
 'may',
 'nov',
 'oct',
 'sep'}

In [197]:
q.union(o)

{1,
 2,
 3,
 'apr',
 'aug',
 'dec',
 'feb',
 'hello',
 'hi',
 'jan',
 'jul',
 'jun',
 'mar',
 'may',
 'nov',
 'oct',
 'sep'}

In [198]:
q.union(o).difference(q.symmetric_difference(o))

{'apr', 'dec'}

In [199]:
q

{'apr', 'aug', 'dec', 'feb', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep'}

In [200]:
o

{1, 2, 3, 'apr', 'dec', 'hello', 'hi', 'jan'}

In [202]:
q.isdisjoint(o)

False

In [203]:
q.intersection(o)

{'apr', 'dec'}

In [204]:
q.difference(o)

{'aug', 'feb', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep'}

In [1]:
import random as r
c=set()
g=[]
for i in range(10000000):
    a=r.randint(1000,10000)
    s='sfjkvnsfnvanvnsflnvlnvnfvnanv' + str(a) + 'bsvjknsdlvnavnnnvawenonwinasdklniavnsifnvini'
    g.append(s)
    c.add(s)

In [216]:
g[10000000-1]

'sfjkvnsfnvanvnsflnvlnvnfvnanv2791bsvjknsdlvnavnnnvawenonwinasdklniavnsifnvini'

In [230]:
f='sfjkvnsfnvanvnsflnvlnvnfvnanvgsfuvo356561bsvjknsdlvnavnnnvawenonwinasdklniavnsifnvini'

In [231]:
f in g

False

In [232]:
f in c

False

In [220]:
n=g.copy()

In [221]:
m=c.copy()

In [222]:
f in m

True

In [223]:
f in n

True

In [10]:
['Hi universe'][0][0] in ['Hello world ','heello',][0]

True

In [16]:
['hello universe',['hi world',('IT',)],][1][1][0] in [["it vedant",'Python'],('it is','IT\'s')][1][1][0:3]

True

In [18]:
['hi',['hello','itvedant']][1][1] in [['this ','is itvedant']][0][1]

True

<h1>Dictinary</h1>

<pre>Python dictionary holds data in form of Key and Value pair
where key is unique and the value can be repeated 
the data in dictionary is unorderd
the key should be hashable
to find or to insert data in dictionary there should key
key and value are seperated by : (colon)
.items() method is used for iterating over dictionary with for loop 
    which will returns list of (key,value) tuples 
</pre>

In [25]:
e={'h':1}

In [28]:
d= {e['h']:12}

In [30]:
d[e['h']]

12

In [56]:
d ={
    1:'one',
    2:'two',
    3:'three',
    4:'four'
    }

In [72]:
d[7]='seven'
d[7]='Seven'
d['7']='Seven'

In [73]:
d

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 '5': 'Five',
 5: 'Five',
 6: 'Six',
 '6': 'six',
 '6 ': 'Six',
 7: 'Seven',
 '7': 'Seven'}

In [71]:
ord(' ')
chr(32)

' '

In [55]:
d.get(4,'no match')

'no match'

In [53]:
if a :
    print(a)
else:
    print("No match")

no match

In [84]:
w=d.fromkeys({'b',1,2,3,4,5,6,7,'a'})

In [83]:
d

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 '5': 'Five',
 5: 'Five',
 6: 'Six',
 '6': 'six',
 '6 ': 'Six',
 7: 'Seven',
 '7': 'Seven'}

In [77]:
for i in {'b',1,2,3,4,'a'}:
    print(i)

1
2
3
4
b
a

In [88]:
d.get('1','no match')

'no match'

In [85]:
w

{1: None,
 2: None,
 3: None,
 4: None,
 5: None,
 6: None,
 7: None,
 'b': None,
 'a': None}

In [89]:
d.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), ('5', 'Five'), (5, 'Five'), (6, 'Six'), ('6', 'six'), ('6 ', 'Six'), (7, 'Seven'), ('7', 'Seven')])

In [105]:
for i in d.items():
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')
(4, 'four')
('5', 'Five')
(5, 'Five')
(6, 'Six')
('6', 'six')
('6 ', 'Six')
(7, 'Seven')
('7', 'Seven')

In [94]:
u=list(d)

In [95]:
u

[1, 2, 3, 4, '5', 5, 6, '6', '6 ', 7, '7']

In [106]:
d.keys()

dict_keys([1, 2, 3, 4, '5', 5, 6, '6', '6 ', 7, '7'])

In [111]:
d.pop('7')

'Seven'

In [113]:
d.popitem()

('6', 'six')

In [114]:
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', '5': 'Five', 5: 'Five', 6: 'Six'}

In [124]:
d.update({'six':66})

In [126]:
d['6']='six t'

In [127]:
d

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 '5': 'Five',
 5: 'Five',
 6: 'Six',
 'six': 66,
 '6': 'six t'}

In [128]:
d.values()

dict_values(['one', 'two', 'three', 'four', 'Five', 'Five', 'Six', 66, 'six t'])

In [143]:
d.setdefault(8,'giga')

'g'

In [131]:
d.pop(6)

'Six'

In [132]:
d[6]=None

In [144]:
d

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 '5': 'Five',
 5: 'Five',
 'six': 66,
 '6': 'six t',
 6: None,
 7: 'g',
 8: 'g'}

In [145]:
q={
    'name':'Harsh',
    'age': 25,
    'city':'Bangalore',
    'country':'India',
    'subjects':{
        'maths':{
            'internal':20,
            'external':30
        },
        'science':{
            'internal':40,
            'external':50
        },
        'english':{
            'internal':60,
            'external':70
        }
    }
}

In [146]:
q

{'name': 'Harsh',
 'age': 25,
 'city': 'Bangalore',
 'country': 'India',
 'subjects': {'maths': {'internal': 20, 'external': 30},
  'science': {'internal': 40, 'external': 50},
  'english': {'internal': 60, 'external': 70}}}

In [167]:
q['subjects']

{'maths': {'internal': 20, 'external': 30},
 'science': {'internal': 25, 'external': 50},
 'english': {'internal': 25, 'external': 70}}

{
    'maths': 
                {'internal': 20, 'external': 30},
 'science': 
                {'internal': 25, 'external': 50},
 'english':
                {'internal': 25, 'external': 70}
 }

In [164]:
q['subjects']['maths']

{'internal': 25, 'external': 30}

In [166]:
q['subjects']['maths']['internal']=20

In [160]:
for i in q['subjects']:
    q['subjects'][i]['internal']=25

In [162]:
q

{'name': 'Harsh',
 'age': 25,
 'city': 'Bangalore',
 'country': 'India',
 'subjects': {'maths': {'internal': 25, 'external': 30},
  'science': {'internal': 25, 'external': 50},
  'english': {'internal': 25, 'external': 70}}}

In [149]:
f=[x for x in range(11)]

In [150]:
f

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [168]:
k=[]
for i in range(11):
    k.append(i)

In [182]:
k
j={x:x+1 for x in range(11)}

In [183]:
j

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11}

*****
****
***
**
*


*
**
***
****
*****

<h1>
Functions
</h1>

<h2>
Function is callable code block which needs to define first to call it later with help of ""def"" keyword<br>
It impoves code reusablity and redablity
</h2>

In [7]:
def foo():
    print('hello world')

In [8]:
foo()

hello world

In [16]:
def greet(name):         #here name is parameter
    print(f'hello {name}')

In [17]:
greet(False)

hello False

In [22]:
def sum(a,b):
    print(a+b)

In [26]:
c=int(input('enter value for c'))
d=int(input('enter value for d'))
sum(c,d)

11

In [36]:
for i in range(3):
    print(f"Loop {i}:")

Loop 0:
Loop 1:
Loop 2:

In [37]:
def print_num():
    max = int(input('enter num'))
    for i in range(1,max+1):
        print(i)

def print_num(max):
    for i in range(1,max+1):
        print(i)

In [38]:
print_num(3)

1
2
3

<h2>Perameter</h2>
<h3>
the perameter are written at function defination and its block scope variable <br>
inside perenthesis<br>
the block scope variable is variable like other but you can't access it out of the function block<br>
</h3>

<h2>Arrgument</h2>
<h3>
the arrgument are written at function call and it can be a variable <br>
inside perenthesis<br>
</h3>

In [46]:
def table(num):        # we defining perameter   num is one of the perameter
    for i in range(1,11):
        print(f"{num}    X   {i}  =  {i*num}")

In [48]:
table(3)

3    X   1  =  3
3    X   2  =  6
3    X   3  =  9
3    X   4  =  12
3    X   5  =  15
3    X   6  =  18
3    X   7  =  21
3    X   8  =  24
3    X   9  =  27
3    X   10  =  30

In [49]:
def check(a,b):
    if a>b:
        return f'{a} is greater'
    else:
        return f'{b} is greater'

In [51]:
check(22,4)

'22 is greater'

<h2>
return 
</h2>

<h3>
The return statement is used to return a value <br>
when a function complete its process it returns a value at end <br>
if we don't write a return statement it will return None at end<br>
the return statement is the last statement of the function or we can say it close the function execution
</h3>

In [ ]:
if year%400==0 or (year%4==0 and year%100!=0):
    return True
else:
    return False

In [67]:
def check_prime(num):
    if num<2:
        return True
    else:
        count=2
        while(count<num):
            if num%count==0:
                return False
            count+=1
        return True
def prime(num):
    count= 0
    d=1
    while(d<num+1):
        if num%d==0:
            count+=1
        d+=1
    if count>2:
        return('not a prime')
    else:
        return('prime')

In [68]:
prime(9)

'not a prime'

In [55]:
r=table(10)
r

10    X   1  =  10
10    X   2  =  20
10    X   3  =  30
10    X   4  =  40
10    X   5  =  50
10    X   6  =  60
10    X   7  =  70
10    X   8  =  80
10    X   9  =  90
10    X   10  =  100

In [57]:
print(r)

None

In [69]:
def large_and_small(a,b,c):
    if a > b and a > c:
        if b<c:
            return f'{a} is largest and {b} is smallest'
        else:
            return f'{a} is largest and {c} is smallest'
    elif b > a and b > c:
        if a<c:
            return f'{b} is largest and {a} is smallest'
        else:
            return f'{b} is largest and {c} is smallest'
    else:
        if a<b:
            return f'{c} is largest and {a} is smallest'
        else:
            return f'{c} is largest and {b} is smallest'

In [72]:
large_and_small(31,1,4)

'31 is largest and 1 is smallest'

(43, -1)

In [78]:
def large_and_small(*num):
    print(type(num))
    large = max(num)
    small = min(num)
    return large, small

In [79]:
large_and_small(-1,2,4,3,21,1,4,4,2,2,43)

<class 'tuple'>

(43, -1)

In [1]:
def fibonacci_series():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b
        if a>1000:
            break

In [7]:
(list(fibonacci_series()))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [13]:
a=0
b=1

for i  in range(18):
    print(a)
    sum  = a+b
    a=b
    b=sum

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597

In [16]:
for i in range(1,6):
    print(i*'*')

*
**
***
****
*****

In [19]:
for i in range(5,0,-1):
    print(i*'*')

*****
****
***
**
*

In [24]:
for i in range(10):
    if i<5:    
        print(i*'*')
    else:
        print((10-i)*'*')

*
**
***
****
*****
****
***
**
*

In [86]:
for i in range(10):
    if i<5:
        print((5-i)*'*')  #0 1 2 3 4            5-0=5      5-1=4
    else:
        print((i-4)*'*')

*****
****
***
**
*
*
**
***
****
*****

In [104]:
for i in range(8):
    if i<4:
        print((5-i)*' '+(i+1)*'*'+(i)*'*')
    else:
        print('    '+'***')

     *
    ***
   *****
  *******
    ***
    ***
    ***
    ***

In [156]:
def box(num):
    for i in range(num):
        if i==0 or i==num-1:
            print(num*'* ')
        else:
            print('*'+" "*int(num+num*0.7)+'*')

In [84]:
box(10)

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [102]:
for i in range(1,6):        # 1     2    3      4       5
    for j in range(0,i):    #(0,1)(0,2)(0,3)(0,4)(0,5)  
        print('*',end='')
    print()

*
**
***
****
*****

In [103]:
for i in range(5,0,-1):        # 1     2    3      4       5
    for j in range(0,i):    #(0,1)(0,2)(0,3)(0,4)(0,5)  
        print('*',end='')
    print()

*****
****
***
**
*

In [121]:
for i in range(1,12):
    print(' '*(12-i)+'* '*i)

           *
          * *
         * * *
        * * * *
       * * * * *
      * * * * * *
     * * * * * * *
    * * * * * * * *
   * * * * * * * * *
  * * * * * * * * * *
 * * * * * * * * * * *

In [128]:
def pyramid(num):
    for i in range(1,num):
        for j in range(num-i):
            print(' ',end='')
        for k in range(0,i):
            print('* ',end='')
        print()

In [155]:
pyramid(9)
pyramid(9)
pyramid(9)
for i in range(5):
    print("      *****")

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
      *****
      *****
      *****
      *****
      *****

In [186]:
old = [[x for x in range(y,y+3) ] for y in range(1,10,3)]

In [195]:
print(old)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [201]:
def transpose(old):
    new=[] 
    # if len(old)==len(old[0]):
    for i in range(len(old[0])):
        new.append([])
        for j in range(len(old)):
            new[i].append(old[j][i])
    # else:
        # return 'not square matrix' 
    return new

In [202]:
transpose([[1,2],[3,4],[5,6]])

[[1, 3, 5], [2, 4, 6]]

In [ ]:
[1,2,3,4,11,14,15,21,30]
#         |                       |  print("Original list: ", original_list)
#4

<h2>
Default Perameter 
</h2>

<h3>
We can assign value to perameter as a default which will taken by function when there is no value passed by user as positional arrguments
</h3>

In [3]:
def greet(id,name='thor'):
    return ( 'hello ' + name + id)

<h3>
Method chaining
</h3>

In [18]:
greet('wolf').upper().split()

['HELLO', 'THORWOLF']

<h3>
Docstring and return type
<h3>

In [25]:
def foo()->str:
    """
    This function returns the hello world
    'hello world'
    """
    return "Hello, World!"

In [22]:
foo()

'Hello, World!'

In [35]:
def greet(name:str='thor')->str:
    return 'hello ' + name

In [33]:
greet()

'hello thor'

<h3>Arbitrary Arrguments</h3>
<p>Arbitrary arguments are used to pass a variable number of arguments to a function. They are represented by the asterisk (*) symbol in the function definition.</p>

In [38]:
def fun(*a):
    return a

In [50]:
fun()

()

In [1]:
def total(*num):
    total = 0
    for i in num:
        total = total + i
    return total

In [2]:
total()

0

In [80]:
def sam(*a):
    return len(a)

In [59]:
j=(1,2,3,4)
total=0
for i in j:
    total = total+i

<h3>
key-word arrguments
</h3>

In [93]:
def intro(id, name, age, salary, location):
    print(f"""Hello, my name is {name} and 
          I am {age} years old
          I am from {location} and 
          my salary is {salary} per month
          My ID is {id}""")

In [94]:

intro(1,'john',salary=100001,age=21,location='mahim')

Hello, my name is john and
          I am 21 years old
          I am from mahim and
          my salary is 100001 per month
          My ID is 1

In [106]:
def introduction(**info):
    print(f"""Hello, my name is {info['name']} and 
          I am {info.get('age','not mentioned')} years old
          I am from {info.get('location','')} and 
          my salary is {info['salary']} per month
          My ID is {info['id']}""")

In [107]:
introduction(id=1,name='hero',salary='1000001')

Hello, my name is hero and
          I am not mentioned years old
          I am from  and
          my salary is 1000001 per month
          My ID is 1

In [17]:
a,b={1:'a',2:2}

In [38]:
a

1

In [20]:
for i in {1,2,3,4,5}:
    print(i)

1
2
3
4
5

<h2>
Variable Scope
</h2>

<p>
variale scope are
local : variable defined inside block like class function method or loop are local variables <br>
global : variable defined outside block are global variables<br>
no-local : variable defined inside block like function who get accesed by inner function are non local <br>
</p>

In [36]:
x='Ramesh'

In [37]:
def foo():
    # global x
    a='hello'
    x='suresh'
    print(a,x)
foo()
print(a,x)

hello suresh
1 Ramesh

<h2>
Recursive Function
</h2>
<p>
Recursive functions are a type of function that calls itself during its execution. This can be useful for tasks that require repeated execution of a function, such as traversing a tree or list data structure.
</p>

In [48]:
a=0
def hello():
    global a
    a += 1
    print("Hello, World!",a)
    if a==3:
        print("Goodbye, World!")
        return 0
    hello()

In [49]:
hello()

Hello, World! 1
Hello, World! 2
Hello, World! 3
Goodbye, World!

In [58]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [59]:
factorial(3)

6

In [10]:
global_var = "global variable"
def outer():
    non_local_var = "nonlocal variable"
    def inner():
        local_var = "local variable"
        def most_inner():
            global global_var
            nonlocal non_local_var
            nonlocal local_var
            most_in= 'Most inner var'
            print("Global variable:", global_var)
            print("Nonlocal variable:", non_local_var)
            print("Local variable:", local_var)
            print("Most inner var:", most_in)
        most_inner()
    inner()

In [12]:
print(outer())

Global variable: global variable
Nonlocal variable: nonlocal variable
Local variable: local variable
Most inner var: Most inner var
None

In [35]:
def times(num):
    def inner(value):
        return value * num
    return inner

In [50]:
def times(num):
    return lambda value : value*num

In [47]:
double = times(2)

In [49]:
double(2)

4

In [67]:
u=[9,8,7,6,5,4]

In [65]:
for i in range(6):
    u[i]= double(u[i])

In [66]:
u

[18, 16, 14, 12, 10, 8]

In [76]:
u=list(map(print,u))

None
None
None
None
None
None

In [77]:
u

[None, None, None, None, None, None]